/* Style the navbar */
#navbar {
  overflow: hidden;
  z-index: 1;
}

#mobilenav {
  display: none;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-transition: padding 0.5s;
}

#navbar a:hover {
  font-style:italic;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%; 
  background-color: rgba(83, 82, 82, 0.747);
  box-shadow: 0px 0px 5px 1px white;
}

.sticky a {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

#topper {
  padding: 50px;
}

img {
  width: 100%;
  height: 300px;
  display: block;
}

.image { 
  position: relative; 
  width: 100%; /* for IE 6 */
}

.transparent {
  position: absolute; 
  top: 240px; /*Must be image height minus navbar height */
  left: 0; 
  width: 100%; 
  background-color: rgba(255, 255, 255, 0.151);
  -webkit-transition: background-color 2s ease-in;
}

.transparent a {
  padding-top: 10px;
  padding-bottom:10px;
}


#name_title {
  font-size: 120px;
  font-family: 'Rouge Script';
  background: -webkit-linear-gradient(#DED4CB, rgb(248, 189, 27));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-shadow: rgb(0, 0, 0) 0.1em 0.2em 0.3em; */
  position: absolute;
  top: 25px;
  width: 100%;
}

#icons {
  float: right;
  padding-top: 10px;
  padding-bottom:10px;
}

#iconic {
  color:white;
}

#iconic:hover {
  color:#ffff00;
  transition: 0.3s;
}

#icons a {
  display: block;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom:0px;
}

#navbar a {
  font-family: 'Crushed';
  font-size: 35px;
}

footer {
  background-color: rgb(66, 66, 66);
  padding: 10px;
  text-align: center;
  color: white;
  border-top: 1px solid white;
}

#mobilenav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width:100%;
}

#mobilenav a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#mobilenav a:hover
{
  color: tomato;
}

#menuToggle
{
  height:60px;
  background-color: rgba(0, 0, 0, 0.459);
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  padding:20px;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 100%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}





/* Mobile Compatibility */
@media screen and (max-width:500px) {
  .image {
    display: none;
  }

  #name_title {
    font-size: 30px;
  }

  #mobilenav {
    display: inline;
  }
  
}

/* Modal */
#modal .modal-window {
  position: fixed;
  background-color: rgba(53, 51, 51, 0.452);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#modal .modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

#modal .modal-window>div {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: #ffffff;
  color: #333333;
  border-radius: 10px;
}

#modal .modal-window header {
  font-weight: bold;
}

#modal .modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

#modal .modal-close:hover {
  color: #000;
}

#modal .modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
  color: #333333;
}

#modal i {
  vertical-align: middle;
}


