#contentB h1 {
    text-align: center;
    font-family: 'Arvo';
    font-size: 50px;
    margin-left: 28%;
    margin-right:28%;
    margin-bottom:100px;
    padding: 10px;
    background-color: #ffffffc5;
    border-radius: 5px;
    border: 1px solid rgb(13, 14, 13);
    overflow: hidden;
}

#contentB h1:hover {
    cursor: pointer;
}

#contentB p {
    font-family: 'Domine';
    font-size: 25px;
    color: white;
    overflow: auto; 
    margin-bottom: 50px; 
}

#contentB {
    padding:100px;
    background-color: #272D2D;
    border-top: 8px solid rgb(19, 22, 22);
}

#contentB #brown{
    width:300px;
    height:150px;
    float: right;
}

#contentB #nh{
    width:150px;
    height:150px;
    float: right;
}

#contentB #ed_details {
    font-size: 15px;
}


/* Sweep To Right */
#contentB .hvr-sweep-to-right {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  #contentB .hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(14, 72, 99);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  #contentB .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white;
  }
  #contentB .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }


    /* Mobile Compatibility */
@media screen and (max-width:500px) {
    #contentB h1 {
      font-size: 25px;
      margin-left: 0px;
      margin-right: 0px;
    }
    #contentB p{
      font-size: 20px;
    }

    #contentB {
        padding:20px;
        padding-top:10px;    
    }

    #contentB #brown{
        float:none;
    }
    
    #contentB #nh{
        float:none;
    }
  }