#contentC h1 {
    text-align: center;
    font-family: 'Arvo';
    font-size: 50px;
    margin-left: 28%;
    margin-right:28%;
    margin-bottom:30px;
    padding: 10px;
    background-color: #ffffffc5;
    border-radius: 5px;
    border: 1px solid rgb(13, 14, 13);
}

#contentC h1:hover {
    cursor: pointer;
}

p {
    font-family: 'Domine';
    font-size: 25px;  
}

#contentC {
    padding:100px;
    background-color: #ABEBD2;
    border-top: 8px solid rgb(114, 158, 141);
}

#contentC img {
    width:100%;
    height:75px;
    margin-top:5px;
}

#contentC #skilldock {
    height:100px;
    border-radius:100px;
    background-color:rgb(255, 164, 27);
    margin-top:10px;
    margin-bottom: 40px;
    text-align: center;
}

#contentC .tooler {
    position: absolute;
    bottom: -40px;
    left: 0px;
    background-color: black;
    color: white;
    border-radius: 5px;
    visibility: hidden;
    padding-left: 2px;
    padding-right: 2px;
    opacity: 0.7;
}

#toola:hover + #tool1 {
    visibility: visible;
    transition: 2s ease-in;

}

#toolb:hover + #tool2 {
    visibility: visible;

}
#toolc:hover + #tool3 {
    visibility: visible;

}

#toold:hover + #tool4 {
    visibility: visible;

}

#toole:hover + #tool5 {
    visibility: visible;

}

#toolf:hover + #tool6 {
    visibility: visible;

}

#toolg:hover + #tool7 {
    visibility: visible;

}

#toolh:hover + #tool8 {
    visibility: visible;

}

#tooli:hover + #tool9 {
    visibility: visible;

}

#toolj:hover + #tool10 {
    visibility: visible;

}

/* Sweep To Right */
#contentC .hvr-sweep-to-right {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  #contentC .hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(14, 72, 99);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  #contentC .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white;
  }
  #contentC .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  /* SHADOW/GLOW TRANSITIONS */
/* Glow */
.hvr-glow {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
  }
  .hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  }

  /* Grow */
.hvr-grow {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

#skilldock .tooltip {
    margin-top:5px;
    margin-left: 0.9%;
    margin-right: 0.9%;
    width:7%;
    display: inline-block;
    position: relative;
}

#contentC #skilldockmobile {
    display: none;
        
}
    /* Mobile Compatibility */
@media screen and (max-width:500px) {
    #contentC h1 {
      font-size: 25px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top:10px;
      margin-bottom: 50px;
    }
    #contentC p{
      font-size: 20px;
    }

    #contentC {
        padding:20px;
        padding-top:50px;    
    }

    #contentC #skilldock {
        display: none;
    }

    #contentC #skilldockmobile {
        display: block;
    }

    #contentC #row1{
        display: block;
        text-align: left;
        margin-bottom: 20px;
    }

    #contentC #row2{
        display: block; 
        text-align: left; 
        margin-bottom: 20px;
    }

    #contentC #row3{
        display: block; 
        text-align: center; 
        margin-bottom: 20px;
    }

    #contentC #row4{
        display: block; 
        text-align: center; 
        margin-bottom: 20px;
    }

    #contentC img {
        width:27%;
        height:85px;
        margin-top:5px;
        margin-left: 3%;
        margin-right: 3%;
        display: inline-block;
    }
  }
